<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="enable_lidar" default="true" />
  <arg name="enable_fisheye" default="true" />
  <arg name="fisheye_device" default="0" doc="v4l2-ctl --list-devices"/>
  <arg name="enable_sensors" default="true" />
  <arg name="enable_mapping" default="true" />
  <arg name="enable_slam" default="true" />


  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
    <arg name="enable_lidar" value="$(arg enable_lidar)" />
    <arg name="enable_fisheye" value="$(arg enable_fisheye)" />
    <arg name="fisheye_device" value="$(arg fisheye_device)"/>
  </include>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>

  <include file="$(find ti_mmwave_rospkg)/launch/ti_mmwave_sensor.launch" if="$(arg enable_sensors)"/>
  <include file="$(find realsense2_camera)/launch/rs_camera_2.launch" if="$(arg enable_sensors)"/>

  <include file="$(find turtlebot3_slam)/launch/turtlebot3_hector.launch" if="$(arg enable_slam)"/>
  <include file="$(find turtlebot_mmwave_launchers)/launch/single_sensor/radar_mapping.launch" if="$(arg enable_mapping)"/>

</launch>
